 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
 font-family : 'Poppins', sans-serif;}

h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: cornflowerblue;
}
a.active{
    font-weight: 800;
    font-size: 20px;
    font-style: italic;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
button{
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 18px;
    padding: 10px 20px;
    outline: none;
    border: none;
}
div{
    text-align: center;
}